<section class="footer">
  <div class="footer-content">
    <h3>Felate Soufyane</h3>
    <p>Passionate Web & Mobile Developer | Open to new opportunities</p>
    <ul class="socials">
      <li>
        <a href="https://github.com/soufyane-felate" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/felate-soufyane-03f/"
          target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="mailto:soufyanfellat03.com"><i class="fas fa-envelope"></i></a>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Felate Soufyane. All rights reserved.</p>
  </div>
</section>
