
    <section id="About">
      <h1>WHO AM I ?</h1>
      <p class="container">
     My name is Soufyane Felate, I’m 22 years old, and I hold a Specialized Technical Diploma in 
     Digital Development, as well as a Full-Stack Certificate from Ahmed El Hanssali Digital School 
     (ENNA). I also completed professional training in integrated web application development at the
      ENAA School.

I am passionate about designing and developing web and mobile applications, and I enjoy exploring 
all aspects of IT development. I’m highly motivated, always eager to learn, and committed to staying 
up to date with the latest technologies to continuously improve my skills. My goal is to contribute 
to the development of high-quality, high-performance applications that pro
vide real value to users and help solve real-world problems through technology.</p>
    </section>
    <app-experience></app-experience>

