
    <section id="About">
      <h1>WHO AM I ?</h1>
      <p class="container">
        My name is Soufyane Felate 21 years old, and I hold a Specialized
        Technical Diploma in Digital Development, along with professional
        training in integrated web application development from the ENAA School.
        I am passionate about designing and developing web and mobile
        applications, and I enjoy exploring all facets of IT development. I am
        highly motivated, always eager to learn, and committed to staying up to
        date with the latest technologies to continuously enhance my skills. My
        goal is to contribute to the development of high-quality,
        high-performance applications that offer meaningful value to users and
        help solve real-world problems through technology.
      </p>
    </section>
    <app-experience></app-experience>

