<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand custom-brand" href="#">
      <span class="logo-s">S</span>oufyane Felate
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-center"
      [class.show]="isMenuOpen"
      id="navbarNav"
    >
      <ul
        class="navbar-nav d-flex flex-row flex-wrap justify-content-center gap-3 my-2 my-lg-0 align-items-center"
      >
        <li *ngFor="let item of navItems" class="nav-item">
          <a
            class="nav-link text-light"
            *ngIf="item.label && item.type === 'anchor'"
            href="#{{ item.link }}"
            (click)="handleItemClick(item, $event)"
            >{{ item.label }}</a
          >

          <a
            class="nav-link text-light"
            *ngIf="item.label && item.type === 'action'"
            href="#"
            (click)="handleItemClick(item, $event)"
            >{{ item.label }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
