
    <section class="experience-section">
      <h1>My Professional Experience</h1>
      <div class="container">
        <div class="card" style="width: 22rem">
          <img
            class="card-img-top"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSArUTYPRb4UwaTn1czn0aTQpgOtDPM9Qjiv88eAC1BZhHBVFhcdFLFedkWScQcuLHyDg&usqp=CAU"
            alt="GMSOFT logo"
          />
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <i class="fas fa-calendar-alt me-2" style="color: var(--primary-color);"></i>
              <h6 class="card-title mb-0">April 2024 – Developer, GMSOFT, Beni Mellal</h6>
            </div>
            <p class="card-text">
              Developed a time management application for projects and clients.
              The app allows users to log their working hours, track overtime,
              generate invoices in PDF format, and export reports in various Excel
              formats.
            </p>
            <div class="d-grid">
              <a href="https://gmsoft.ma/" target="_blank" class="btn btn-primary">
                <i class="fas fa-external-link-alt me-2"></i>View Company
              </a>
            </div>
          </div>
        </div>

        <div class="card" style="width: 22rem">
          <img
            class="card-img-top"
            src="https://media.licdn.com/dms/image/v2/D4E0BAQEP7u-nDZ75fg/company-logo_200_200/company-logo_200_200/0/1700825925111?e=2147483647&v=beta&t=NImKLhgm6mAKBYIK5XTo078pn5H6DhwghxjTkM2ybhc"
            alt="ALX Ventures logo"
          />
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <i class="fas fa-calendar-alt me-2" style="color: var(--primary-color);"></i>
              <h6 class="card-title mb-0">October 2024 – Front-End Developer – Gig-at-a-Startup Program, ALX Ventures | OneEarth</h6>
            </div>
            <p class="card-text">
              Developed responsive, cross-platform mobile interfaces using
              Flutter, Dart, and integrated APIs for the OneEarth project.
              Optimized UI components to improve performance and user experience.
              Collaborated with a cross-functional team to deliver a functional
              and engaging mobile application.
            </p>
            <div class="d-grid">
              <a href="https://www.alxafrica.com/" target="_blank" class="btn btn-primary">
                <i class="fas fa-external-link-alt me-2"></i>View Company
              </a>
            </div>            
          </div>
        </div>
      </div>
    </section>

  