
<main>
  <section id="home">
    <div class="items">
      <div class="r">
        <div class="name">
          <h1>{{ 'HOME.TITLE' | translate }}</h1>

          <div class="social-icons mt-2">
            <a href="https://www.linkedin.com/in/felate-soufyane-03f/" target="_blank" class="me-2">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="https://github.com/soufyane-felate" target="_blank">
              <i class="fab fa-github fa-2x"></i>
            </a>
          </div>
        </div>

        <img
          src="assets/images/sf.png"
          alt="Soufyane Felate"
          class="img"
        />
      </div>
    </div>
  </section>
  <div id="About"><app-about></app-about></div>
  <div id="project"><app-projects></app-projects></div>
  <div id="contact-section"><app-contact></app-contact></div>
  <app-footer></app-footer>
</main>
