@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

.full_name {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline;
}
.r {
  display: flex;
  justify-content: space-around;
}
.items {
}
h1 {
  color: white;
}
.img {
  width: 35%;
}
.name
{
  align-items: center;
  text-align: center;
  align-self: center;

}
.social-icons a {
  color: #fffcfc;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #0077b5;
}




main{
  background-color: #242124;
}

.r {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.items {
  width: 100%;
  padding: 0 1rem;
}

.img {
  width: 35%;
  min-width: 180px;
  max-width: 300px;
}

@media (max-width: 991.98px) {
  .r {
    flex-direction: column;
    align-items: center;
  }
  .img {
    width: 60%;
    min-width: 120px;
    max-width: 220px;
  }
}

@media (max-width: 576px) {
  .img {
    width: 90%;
    min-width: 80px;
    max-width: 150px;
  }
  .name h1 {
    padding-top: 25px;
    font-size: 1.5rem;
  }
}

main {
  background-color: #242124;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding-top: 80px;
}
